@model AlexPortfolio.Models.MasterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Model.IsAuthorized)
            {
                <div class="login-link login-link-collapse">
                    <a href="#"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
                </div>
            }
            else
            {
                <div class="login-link login-link-collapse">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><span class="fa fa-sign-in fa-fw fa-lg">&nbsp;</span>Log In</a>&nbsp;
                    <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="fa fa-user-plus fa-fw">&nbsp;</span>Sign Up</a>
                </div>
            }
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @foreach (var item in Model.Menu)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(item.IsSelected ? "selected" : "")" href=@item.Href>
                                <span class="@item.Icon" data-toggle="tooltip" data-placement="bottom" title=@item.Title></span>&nbsp;
                                <span class="menu-link-title">@item.Title</span>
                            </a>
                        </li>
                    }
                </ul>
                @if (Model.IsAuthorized)
                {
                    <div class="login-link login-link-expand">
                        <a href="#"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
                    </div>
                }
                else
                {
                    <div class="login-link login-link-expand">
                        <a href="#" data-toggle="modal" data-target="#login-modal"><span class="fa fa-sign-in fa-fw fa-lg"></span>&nbsp;Log In</a>&nbsp;
                        <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="fa fa-user-plus fa-fw"></span>&nbsp;Sign Up</a>
                    </div>
                }
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <p><small>Copyright &copy; Alex Roch, @DateTime.Now.Year</small></p>
        </div>
    </div>

    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
        }*@
                    <form id="login-form">
                        <div class="form-group">
                            <p>Hello Alex, welcome back!</p>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="remember-me">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="login-button" type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/portfolio")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>