@model AlexPortfolio.Models.MasterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Model.IsAuthorized)
                {
                    <div class="login-link login-link-collapse">
                        <a href="#"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
                    </div>
                }
                else
                {
                    <div class="login-link login-link-collapse">
                        <a href="#"><span class="fa fa-sign-in fa-fw fa-lg">&nbsp;</span>Log In</a>&nbsp;
                        <a href="#"><span class="fa fa-user-plus fa-fw">&nbsp;</span>Sign Up</a>
                    </div>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @foreach (var item in Model.Menu)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(item.IsSelected ? "selected" : "")" href=@item.Href data-toggle="tooltip" data-placement="bottom" title=@item.Title><span class="@item.Icon"></span>&nbsp;<span class="menu-link-title">@item.Title</span></a>
                        </li>
                    }
                </ul>
                @if (Model.IsAuthorized)
                {
                    <div class="login-link login-link-expand">
                        <a href="#"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
                    </div>
                }
                else
                {
                    <div class="login-link login-link-expand">
                        <a href="#"><span class="fa fa-sign-in fa-fw fa-lg"></span>&nbsp;Log In</a>&nbsp;
                        <a href="#"><span class="fa fa-user-plus fa-fw"></span>&nbsp;Sign Up</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <p><small>Copyright &copy; Alex Roch, @DateTime.Now.Year</small></p>
        </div>
    </div>

    <div id="login-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/portfolio")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>