@model AlexPortfolio.Models.MasterViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex Portfolio</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/css/bootstrap")*@
    @Styles.Render("~/Content/css/font-awesome")
    @Styles.Render("~/Content/css/portfolio")

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false);
    }
</head>
<body>
    <nav class="container navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (Model.IsAuthorized)
        {
            <div class="login-link login-link-collapse">
                <a href="#" class="signout-submit"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
            </div>
        }
        else
        {
            <div class="login-link login-link-collapse">
                <a href="#" data-toggle="modal" data-target="#login-modal"><span class="fa fa-sign-in fa-fw fa-lg">&nbsp;</span>Log In</a>&nbsp;
                <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="fa fa-user-plus fa-fw">&nbsp;</span>Sign Up</a>
            </div>
        }
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                @foreach (var item in Model.Menu)
                {
                    <li class="nav-item">
                        <a class="nav-link @(item.IsSelected ? "selected" : "")" href=@item.Href>
                            <span class="@item.Icon menu-link-icon" data-toggle="tooltip" data-placement="bottom" style="background-color:transparent;" title=@item.Title aria-hidden="true"></span>&nbsp;
                            <span class="menu-link-title">@item.Title</span>
                        </a>
                    </li>
                }
            </ul>
            @if (Model.IsAuthorized)
            {
                <div class="login-link login-link-expand">
                    <a href="#" class="signout-submit"><span class="fa fa-sign-out"></span>&nbsp;Sing Out</a>
                </div>
            }
            else
            {
                <div class="login-link login-link-expand">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><span class="fa fa-sign-in fa-fw fa-lg"></span>&nbsp;Log In</a>&nbsp;
                    <a href="#" data-toggle="modal" data-target="#signup-modal"><span class="fa fa-user-plus fa-fw"></span>&nbsp;Sign Up</a>
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        <div class="dashboard">
            @if ((ViewContext.RouteData.Values["action"]).ToString() == "JobDetails")
            {
                <div class="float-left">
                    <a href="~/Work/Work" class="btn btn-secondary"><span class="fa fa-arrow-left" aria-hidden="true"></span>&nbsp; Back</a>
                </div>
            }
            @if ((ViewContext.RouteData.Values["action"]).ToString() == "EducationDetails")
            {
                <div class="float-left">
                    <a href="~/Education/Education" class="btn btn-secondary"><span class="fa fa-arrow-left" aria-hidden="true"></span>&nbsp; Back</a>
                </div>
            }
            @if ((ViewContext.RouteData.Values["action"]).ToString() == "HobbyDetails")
            {
                <div class="float-left">
                    <a href="~/Hobbies/Hobbies" class="btn btn-secondary"><span class="fa fa-arrow-left" aria-hidden="true"></span>&nbsp; Back</a>
                </div>
            }

            @if ((ViewContext.RouteData.Values["action"]).ToString() == "Index" || (ViewContext.RouteData.Values["action"]).ToString() == "Contact")
            {
                <div class="float-right">
                    <a id="edit-link" class="fa fa-pencil-square-o fa-lg" aria-hidden="true" data-toggle="collapse" data-target=".editor-collapse"></a>
                    <a id="cancel-link" class="dashboard-apply-changes fa fa-times fa-lg" aria-hidden="true" data-toggle="collapse" data-target=".editor-collapse"></a>
                    <a id="save-link" class="dashboard-apply-changes fa fa-check-square-o fa-lg" aria-hidden="true"></a>
                </div>
            }
        </div>

        @RenderBody()
    </div>

    <nav class="container fixed-bottom navbar-dark bg-dark">
        <p class="text-white text-center copyright">Copyright &copy; Alex Roch, @DateTime.Now.Year</p>
    </nav>

    <div id="login-modal" class="modal fade auth-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <form id="login-form" novalidate>
                        <div class="form-group">
                            <p>Hello Alex, welcome back!</p>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control auth-input" id="login-password" required>
                            <div id="login-password-error" class="invalid-feedback auth-input-error"></div>
                            <div class="auth-input-error-message">
                                Please enter the password
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input auth-input" id="login-remember-me">
                            <label class="custom-control-label" for="login-remember-me">Remember me</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="login-submit" type="button" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </div>
    </div>

    @*<div id="signup-modal" class="modal fade auth-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <form id="signup-form" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="signup-email">Email</label>
                            <input type="text" class="form-control auth-input" id="signup-email" required>
                            <div id="signup-email-error" class="invalid-feedback auth-input-error"></div>
                            <div class="auth-input-error-message">
                                Please enter the email
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input type="password" class="form-control auth-input" id="signup-password" required>
                            <div id="signup-password-error" class="invalid-feedback auth-input-error"></div>
                            <div class="auth-input-error-message">
                                Please enter the password
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signup-confirm-password">Confirm Password</label>
                            <input type="password" class="form-control auth-input" id="signup-confirm-password" required>
                            <div id="signup-confirm-password-error" class="invalid-feedback auth-input-error"></div>
                            <div class="auth-input-error-message">
                                Please confirm the password
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="signup-submit" type="button" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>*@

    <div id="signup-modal" class="modal fade auth-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <div class="modal-sign">
                        <div class="fa fa-smile-o fa-fw fa-4x"></div>
                        <h1>Sorry!</h1>
                    </div>
                    <p>Signed up users can modify the content of the page, and only Alex is allowed to do this.</p>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="signup-error-modal" class="modal fade auth-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <div class="modal-sign">
                        <div class="fa fa-smile-o fa-fw fa-4x"></div>
                        <h1>Sorry!</h1>
                    </div>
                    <p>Only signed up users can modify the content of a page.</p>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="error-modal" class="modal fade auth-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-white">
                    <div class="modal-sign">
                        <div class="fa fa-exclamation-triangle fa-fw fa-4x"></div>
                        <h3>Oops, error occurred</h3>
                    </div>
                    <p id="error-text"></p>
                </div>
                <div class="modal-footer bg-white">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/portfolio")
    @Scripts.Render("~/bundles/popper")
    @if (IsSectionDefined("AddToFooter"))
    {
        @RenderSection("AddToFooter", required: false);
    }
</body>
</html>