@model AlexPortfolio.Models.AboutViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-about.css")" rel="stylesheet" type="text/css" />
}

@*@section AddToFooter{
        <script src="@Url.Content("~/Scripts/portfolio-home.js")"></script>
    }*@

<div class="row">
    <div class="col-md-5 col-lg-4 col-xl-4 col-12">
        <div id="about-alex"></div>
    </div>

    <div class="col-md-7 col-lg-8 col-xl-8 col-12">
        <div id="about-summary" class="row">
            <p>@Model.Summary</p>
        </div>

        @foreach (var item in Model.ContactInfo)
        {
            <div class="row">
                <div class="col-sm-2">
                    <p><b>@item.Item1</b></p>
                </div>
                <div class="col-sm-10">
                    <p>@item.Item2</p>
                </div>
            </div>
        }

        <div class="row">
            <div class="col">
                <ul>
                    <li><a href=@Model.FacebookLink target="_blank"><span class="fa fa-facebook-square" aria-hidden="true">&nbsp;</span>Facebook</a></li>
                    <li><a href=@Model.InstagramLink target="_blank"><span class="fa fa-instagram" aria-hidden="true">&nbsp;</span>Instagram</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href=@Model.LinkedInLink target="_blank"><span class="fa fa-linkedin-square" aria-hidden="true">&nbsp;</span>LinkedIn</a></li>
                    <li><a href=@Model.GitHubLink target="_blank"><span class="fa fa-github-square" aria-hidden="true">&nbsp;</span>GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr />

<div>
    <p class="text-center"><big>My Skills</big></p>
</div>
<div class="row">
    <div class="col-sm">
        <p class="text-center"><big>Desktop Development</big></p>
        <ul>
            @foreach (var item in Model.DesktopSkills)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="col-sm">
        <p class="text-center"><big>Web Development</big></p>
        <ul>
            @foreach (var item in Model.WebSkills)
            {
                <li>@item</li>
            }
        </ul>
    </div>
    <div class="col-sm">
        <p class="text-center"><big>Other Skills</big></p>
        <ul>
            @foreach (var item in Model.OtherSkills)
            {
                <li>@item</li>
            }
        </ul>
    </div>
</div>