@model AlexPortfolio.Models.ContactViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-contact.css")" rel="stylesheet" type="text/css" />
}

@section AddToFooter{
    <script src="@Url.Content("~/Scripts/portfolio-contact.js")"></script>
}

<div class="row">
    <div class="col col-md-12">
        <h2 id="contact-header-text">@Model.HeaderText</h2>
        <div class="collapse editor-collapse" id="contact-header-text-editor">
            <div class="form-group">
                <label for="contact-header-text-input">Header text</label>
                <textarea class="form-control" id="contact-header-text-input" required></textarea>
            </div>
        </div>
    </div>

    <div class="col-md-6 order-md-1 col-12">
        <div id="contact-container">
            <h3>Phone: </h3>
            <p id="contact-phone">@Model.Phone</p>
            <h3>Email: </h3>
            <p id="contact-email">@Model.Email</p>
            <div class="collapse editor-collapse" id="contact-body-editor">
                <div class="form-group">
                    <label for="contact-phone-input">Phone</label>
                    <input type="text" class="form-control" id="contact-phone-input" required>
                </div>
                <div class="form-group">
                    <label for="contact-email-input">Email</label>
                    <input type="text" class="form-control" id="contact-email-input" required>
                </div>
            </div>
            <hr id="contact-separator" />
        </div>
    </div>

    <div class="col-md-6 order-md-12 col-12">
        <form id="contact-email-form" class="needs-validation" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" id="contact-send-email-input" placeholder="Your Email" required>
                <div id="contact-email-error" class="invalid-feedback"></div>
                <div id="contact-email-error-message">
                    Please enter the email
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="contact-send-email-subject" placeholder="Subject">
                <div id="contact-subject" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <textarea id="contact-send-email-message" class="form-control" placeholder="Type text"></textarea>
            </div>
            <hr />
            <div class="form-group">
                <a id="contact-send-email" href="#" type="button" class="btn btn-primary float-right">Send Email</a>
            </div>
        </form>
    </div>
</div>