@model AlexPortfolio.Models.ProjectDetailsViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-project-details.css")" rel="stylesheet" type="text/css" />
}

<div id="project-details-body-container">
    <p><b>@Model.ProjectName</b></p>
    <p><b>Stack: </b>@Model.Stack</p>
    <p>@Model.ProjectDescription</p>
    <p><a href="@Model.ProjectUrl" target="_blank"> @Model.ProjectUrlText</a></p>

    @if (Model.Pictures.Any())
    {
        <div class="row d-flex justify-content-center">
            <div id="project-details-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Pictures.Count; i++)
                    {
                        <li data-target="#project-details-carousel" data-slide-to="@i" class="project-details-indicator@(i == 0 ? " active" : "")"></li>
                    }
                </ol>

                <div class="carousel-inner">
                    @foreach (var item in Model.Pictures)
                    {
                        <div class="carousel-item @(Model.Pictures.First() == item ? "active" : "")">
                            <div class="project-details-carousel-item" style="background-image: url(@Url.Content("../Content/Pictures/" + @item))"></div>
                        </div>
                    }
                </div>
                <a class="arrow carousel-control-prev" href="#project-details-carousel" role="button" data-slide="prev">
                    <span id="project-details-image-prev" class="carousel-control-prev-icon project-details-arrow" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="arrow carousel-control-next" href="#project-details-carousel" role="button" data-slide="next">
                    <span id="project-details-image-next" class="carousel-control-next-icon project-details-arrow" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }

</div>