@model AlexPortfolio.Models.JobDetailsViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-work-details.css")" rel="stylesheet" type="text/css" />
}

@*@section AddToFooter{
        <script src="@Url.Content("~/Scripts/portfolio-work.js")"></script>
    }*@

<div id="job-details-body-container">
    <p><b>@Model.Company</b></p>
    <p><b>Position: </b>@Model.Position (@Model.Type)</p>
    <p><b>Duration: </b>@Model.Duration days (@Model.StartDate - @Model.CompletionDate)</p>
    <p><b>Address: </b>@Model.Address</p>
    <ul>
        @foreach (var item in Model.DescriptionBulletPoints)
        {
            <li>@item</li>
        }
    </ul>
    <div class="row d-flex justify-content-center">
        <div id="work-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Pictures.Count; i++)
                {
                    <li data-target="#work-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                }
            </ol>

            <div class="carousel-inner">
                @foreach (var item in Model.Pictures)
                {
                    <div class="carousel-item @(Model.Pictures.First() == item ? "active" : "")">
                        <div class="work-carousel-item" style="background-image: url(@Url.Content("../Content/Pictures/" + @item.Item1))"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@item.Item2</h5>
                            <p>@item.Item3</p>
                        </div>
                    </div>
                }
            </div>

            <a class="carousel-control-prev" href="#work-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#work-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>