@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-education.css")" rel="stylesheet" type="text/css" />
}

@section AddToFooter{
    <script src="@Url.Content("~/Scripts/portfolio-education.js")"></script>
}

<div class="d-flex flex-wrap justify-content-center">
    @foreach (var item in Model.Jobs)
    {
        <div class="p-2">
            <div class="card mx-auto">
                <div class="card-img-top work-picture" style="background-image: url(@Url.Content("../Content/Pictures/" + @item.Picture))"></div>
                <div class="card-body">
                    <h5 class="card-title">@item.Company</h5>
                    <h6 class="card-subtitle">@item.Position</h6>
                    <a href="@Url.Action("JobDetails", "Work", new { jobId = item.JobId})" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>