@model AlexPortfolio.Models.EducationDetailsViewModel

@section AddToHead{
    <link href="@Url.Content("~/Content/portfolio-education-details.css")" rel="stylesheet" type="text/css" />
}

@*@section AddToFooter{
        <script src="@Url.Content("~/Scripts/portfolio-education-details.js")"></script>
    }*@

<div id="education-details-body-container">
    <p><b>@Model.University</b> <a href="@Model.UniversityLink" target="_blank">(@Model.UniversityLink)</a></p>
    <p><b>Program: </b>@Model.Program (@Model.StartDate-@Model.CompletionDate)</p>
    <p><b>List of courses</b></p>
    <div class="d-flex flex-wrap justify-content-start">
        @foreach (var item in Model.Courses)
        {
            <div class="p-2">@item</div>
        }
    </div>
</div>